.residential-address {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  &__match {
    margin-bottom: 30px;
    color: #808080;
  }
  &__apartment {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  &__checkbox {
    margin-top: 10px;
    color: #808080;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}